<section class="section-border">
  <div class="row">
    <div class="twelve columns">
      <h1>netug-niederrhein</h1>
      <h3 class="hide-for-small">Wuppertal, Neuss, Krefeld, Düsseldorf</h3>
    </div>
  </div>
</section>