<h3>Thanks for all the great things...</h3>
<ul class="large-block-grid-3" small-block-grid-2">
    <li>
        <a href="http://www.microsoft.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsors/microsoft.png")" />
        </a>
    </li>
    <li>
        <a href="http://www.pluralsight.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsors/pluralsight.png")" />
        </a>
    </li>
    <li>
        <a href="http://www.telerik.com" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsors/telerik.png")" />
        </a>
    </li>
    <li>
        <a href="http://www.jetbrains.com/" target="_blank">
            <img src="@Url.Content("~/Content/images/sponsors/jetbrains.png")" />
        </a>
    </li>    
</ul>