@model ChangePasswordViewModel

@{
  ViewBag.Title = "Password ändern";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Passwort zurücksetzen</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.Token)

  @Html.LabelFor(model => model.NewPassword)
  @Html.PasswordFor(model => model.NewPassword)

  <input type="submit" class="small button" value="Zurücksetzen" />
}
