@model ForgotPasswordViewModel

@{
  ViewBag.Title = "Passwort vergessen?";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Passwort vergessen?</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MailAddress)
  @Html.EditorFor(model => model.MailAddress)

  <input type="submit" class="small button" value="Anfordern" />
}