@model LoginViewModel

@{
  ViewBag.Title = "Login";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Login</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MailAddress)
  @Html.EditorFor(model => model.MailAddress)

  @Html.LabelFor(model => model.Password)
  @Html.EditorFor(model => model.Password)

  <input type="submit" class="small button" value="Anmelden" />
}