<div class="row">
  <div class="large-3 columns hide-for-small">
    <a href="http://ineta-deutschland.de/" target="_blank">
      <img src="@Url.Content("~/Content/images/logo-ineta-deutschland-user-group.png")" />
    </a>
  </div>
  <div class="large-9 columns">
    <h1>Willkommen!</h1>
    <p>
      Die Planung, Entwicklung und Verteilung von Software stellt mit jedem Tag eine größere Herausforderung dar und in kaum einer anderen Branche gibt es Tag für Tag so viele Neuigkeiten wie in der Informationstechnologie. 
    </p>
    <h4>Wie bleiben Sie up-to-date?</h4>
    <p>
      Damit Sie (und wir) up-to-date bleiben, veranstalten wir regelmäßig Treffen zu aktuellen und praxisrelevanten Themen.
    </p>
    <h4>Interesse geweckt?</h4>
    <p>
      Wir würden uns freuen Sie bei einem der nächsten Treffen willkommen zu heißen.
    </p>
  </div>
</div>
